@import url('/spoons/style/main.css');

body {
   text-align: center;
}

.subscript {
   color: #777;
}

ol {
   display: inline-block;
   margin: auto;
   text-align: left;
   font-size: larger;
}

.footer {
   padding-top: 30px;
}
