@import url('/style/main.css');

body {
   text-align: center;
}

body div:first-child {
   padding-top: 12%;
}

.subscript span {
   font-size: 100pt;
}

.subscript {
   font-size: 30pt;
}

.footer {
   margin-top: 10%;
}
