@import url('/style/main.css');

body {
   text-align: center;
}

ul, input:not([type="checkbox"]) {
   text-align: center;
   display: inline-block;
   margin: auto;
   text-align: left;
}

ul {
   padding-bottom: 30px;
}

.footer {
   padding-top: 30px;
}
